.gold-bg {
    background-color: rgba(214, 172, 67, 0.781);
}

.form-field {
    margin: 4px;
}

.form-actions {
    margin-left: 4px;
}

.update-button {
    background-color: #494949;
    color: aliceblue;
    margin: 8px;
}