<app-navigation></app-navigation>
<div>
<div class="info-div">
<mat-card class="info-card">
    <mat-card-header class="info-header">
        <mat-card-title>{{user.Username}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="info-content">
        <div class="info-cont-div">
            <span class="info-line"><b>Email:</b> {{user.Email}}</span>
            <span class="info-line"><b>Birthday:</b> {{user.Birthday | date:'longDate':'GMT'}}</span>
        </div>
        <button mat-raised-button class="info-button" (click)="openProfileEdit(user.Username)">Edit User</button>
    </mat-card-content>
</mat-card>
</div>

<!-- Movie Card (copied needs editing for the pipe) -->

<div class="card-div">
    <mat-card *ngFor="let movie of movies | idConvert: faves" class="card">
        <mat-card-header>
            <mat-card-title class="card-title">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle class="subtitle-container-one">
                <mat-card-subtitle class="subtitle-content"><b>Directed by:</b> &nbsp;</mat-card-subtitle>
                <mat-card-subtitle class="subtitle-content" *ngFor="let director of directors | idConvert : movie.Director;">{{ director.Name }} &nbsp;</mat-card-subtitle>
            </mat-card-subtitle>
            <mat-card-subtitle class="subtitle-container-two">
                <mat-card-subtitle class="subtitle-content"><b>Genres:</b> &nbsp;</mat-card-subtitle>
                <mat-card-subtitle class="subtitle-content" *ngFor="let genre of genres | idConvert: movie.Genre">{{ genre.Name }} &nbsp;</mat-card-subtitle>
            </mat-card-subtitle>
        </mat-card-header>
        <div class="img-div">
            <img src={{movie.ImagePath}} alt={{movie.Title}} class="mov-img" />
        </div>
        <div class="act-div">
        <mat-card-actions class="card-action">
            <button
                *ngFor="let genre of genres | idConvert: movie.Genre"
                mat-button
                class="card-button-first"
                (click)="openGenreDialog(
                    genre.Name,
                    genre.Description
                )"
            >
                {{genre.Name}}
            </button>
            <button
                *ngFor="let director of directors | idConvert : movie.Director;"
                mat-button
                class="card-button"
                (click)="openDirectorDialog(
                    director.Name,
                    director.Description  
                )"
            >
                {{director.Name}}
            </button>
            <button
                mat-button
                class="synopsis-button"
                (click)="openSynopsisDialog(
                    movie.Description
                )"
            >
                Synopsis
            </button>
            <button mat-icon-button>
                <mat-icon *ngIf="!faveCheck(movie._id)" class="like-button" (click)="addFave(movie._id)">favorite_border</mat-icon>
                <mat-icon *ngIf="faveCheck(movie._id)" color="warn" class="like-button" (click)="deleteFave(movie._id)">favorite</mat-icon>
            </button>
        </mat-card-actions>
        </div>
    </mat-card>
    </div>
</div>