.dark-bg {
    background-color: #454545;
}

.gold-bg {
    background-color: rgb(223, 190, 108);
}

.logo {
    width: 200px;
}

.logo:hover {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.log-button {
    margin-left: 16px;
}